{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'bootstrap/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/bootstrap/js/bootstrap.min.js' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/Bootstrap-Payment-Form.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/Google-Style-Login.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/Mockup-iPhone-6.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/Pretty-Footer.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/Pretty-Header.css.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/chat_style.css' %}" rel="stylesheet">


<link href="{% static 'bootstrap/js/jquery.min.js' %}" rel="stylesheet">
