<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url 'HomePage' %}"><strong><em>Chater </em></strong></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" role="presentation"><a href="#"><strong>Sing Up</strong></a></li>
            </ul>
        </div>
    </div>
</nav>