{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons-halflings-regular.eot' %}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons-halflings-regular.svg' %}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons-halflings-regular.woff' %}" rel="stylesheet">
<link href="{% static 'fonts/glyphicons-halflings-regular.woff2' %}" rel="stylesheet">
<link href="{% static 'js/bootstrap.min.js' %}" rel="stylesheet">
<link href="{% static 'js/bootstrap.js' %}" rel="stylesheet">
<link href="{% static 'js/npm.js' %}" rel="stylesheet">
